<!-- <div class="container d-flex justify-content-center align-items-center"> -->
<div class="d-flex justify-content-between align-self-center header">
    <div class="hamburger">
        <button id="menuToggle" (click)="toggleSidebar()">
            ☰
        </button>
        <!-- Backdrop (click to close) -->
        <div *ngIf="sidebarOpen" class="backdrop" (click)="closeSidebar()"></div>

        <!-- Sidebar -->
        <div class="sidebar" [class.sidebar-open]="sidebarOpen">
            <div class="p-3">
                <h5>Menu</h5>
                <ul class="nav flex-column">
                    <!-- <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Contact</a></li> -->
                            <li class="ms-3 mb-2" (click)="redirect('dashboard')">Dashboard</li>
                            <li class="ms-3 mb-2" (click)="redirect('content')">Content</li>
                            <li class="ms-3 mb-2" (click)="redirect('contentType')">Content Type</li>
                            <li class="ms-3 mb-2" (click)="redirect('tag')">Tag</li>
                            <li class="ms-3 mb-2" (click)="redirect('collection')">Collection</li>
                            <li class="ms-3 mb-2" (click)="redirect('users')">Users</li>
                            <li class="ms-3 mb-2" (click)="redirect('userAccess')">Users Access</li>
                            <li class="ms-3 mb-2" (click)="redirect('role')">Users Role</li>
                            <ul class="nav flex-column signout">
                            <li class="ms-4 mb-2" (click)="redirect('settings')">Settings</li>
                            <li class="ms-4 mb-4" (click)="redirect('loggout')">Sign Out</li>
                        </ul>
                </ul>
            </div>
        </div>
    </div>
    <div class="primecontent ">
        <p>Primecontent.in</p>
    </div>
    <div class="userName">
        <p>Saikrishna P</p>
    </div>
</div>
<!-- </div> -->