<app-header></app-header>
<div class="d-flex">
    <app-sidebar></app-sidebar>
    <!-- <app-create-content-model></app-create-content-model> -->
    <div class="container">
        <div class="contentContainer d-flex justify-content-between align-items-center">
            <!-- <button 
            type="button createContent" 
            class="btn btn-primary" 
            data-bs-toggle="modal" 
            data-bs-target="#createContentModelSummon"
            (click)="redirectToCreateContent()"
            >Create content</button> -->
            <button 
            type="button createContent" 
            class="btn btn-primary" 
            (click)="redirectToCreateContentType()"
            >Create content</button>
            <!-- <div class="viewOptions d-flex justify-content-center align-items-center">
                <div class="gridView me-2">
                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="29" height="29" rx="5" fill="#D9D9D9" class="gridViewBg" />
                        <rect x="6" y="5" width="7" height="7" rx="2" fill="#FBFBFB" />
                        <rect x="6" y="17" width="7" height="7" rx="2" fill="#FBFBFB" />
                        <rect x="16" y="5" width="7" height="7" rx="2" fill="#FBFBFB" />
                        <rect x="16" y="17" width="7" height="7" rx="2" fill="#FBFBFB" />
                    </svg>
                </div>
                <div class="listView">
                    <svg width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="29" height="29" rx="5" fill="#D9D9D9" class="listViewBg" />
                        <rect x="6" y="5" width="17" height="7" rx="2" fill="#FBFBFB" />
                        <rect x="6" y="17" width="17" height="7" rx="2" fill="#FBFBFB" />
                    </svg>
                </div>
            </div> -->
            <div class="contentFilter">
                <button type="button createContent" class="btn btn-primary">Content filter</button>
            </div>
        </div>
        <div class="container viewContainer">
            <div class="row row-cols-4">
                <div class="col">
                    <div class="item">
                        <p class="title">
                            This is the title.
                        </p>
                        <p class="description">
                            This is the description.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <p class="title">
                            This is the title.
                        </p>
                        <p class="description">
                            This is the description.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <p class="title">
                            This is the title.
                        </p>
                        <p class="description">
                            This is the description.
                        </p>
                    </div>
                </div>
                <div class="col">
                    <div class="item">
                        <p class="title">
                            This is the title.
                        </p>
                        <p class="description">
                            This is the description.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>