<app-header></app-header>
<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="container">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label mt-3">Tag Name</label>
                <!-- <input type="text" placeholder="Enter tag name here..." class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"> -->
            </div>
            <div class="mb-3 d-flex">
                <div class="flex-grow-1">
                    <!-- <label for="exampleInputEmail1" class="form-label">Content Field Name</label> -->
                    <input type="text" name="TagName" [(ngModel)]="tag.tagName" placeholder="Tag Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
            </div>
            
        <button class="btn btn-primary me-3" (click)="createTag()">Create Tag</button>
        <button class="btn btn-primary" (click)="redirectToTagList()">Cancel</button>
        </form>
    </div>
</div>