<app-header></app-header>
<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="container">
        <div class="userCreationForm mt-3 d-flex justify-content-center align-items-center">
        <form class="w-50 mb-3" (ngSubmit)="onSubmit()" #userForm="ngForm">
            <h3 class="mb-4">{{ isEditMode ? 'Edit User' : 'Create User' }}</h3>
            <div class="mb-3">
                <label for="firstName" class="form-label">User First Name</label>
                <div class="d-flex">
                    <input type="text" placeholder="User First Name" class="form-control" id="firstName" 
                           [(ngModel)]="user.firstName" name="firstName" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="lastName" class="form-label">User Last Name</label>
                <div class="d-flex">
                    <input type="text" placeholder="User Last Name" class="form-control" id="lastName" 
                           [(ngModel)]="user.lastName" name="lastName" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <div class="d-flex">
                    <input type="text" placeholder="Username" class="form-control" id="username" 
                           [(ngModel)]="user.username" name="username" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <div class="d-flex">
                    <input type="email" placeholder="Email" class="form-control" id="email" 
                           [(ngModel)]="user.email" name="email" required>
                </div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <div class="d-flex">
                    <input type="password" placeholder="Password" class="form-control" id="password" 
                           [(ngModel)]="user.password" name="password" [required]="!isEditMode">
                </div>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm password</label>
                <div class="d-flex">
                    <input type="password" placeholder="Confirm password" class="form-control" id="confirmPassword" 
                           name="confirmPassword" [required]="!isEditMode">
                </div>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">Role</label>
                    <select id="role" class="form-select w-50" [(ngModel)]="user.role" name="role" required>
                        <option value="" selected>Select the user role type</option>
                        <option value="SuperAdmin">SuperAdmin</option>
                        <option value="Admin">Admin</option>
                        <option value="User">User</option>
                        <option value="Anonymous">Anonymous</option>
                    </select>
            </div>
            <button type="submit" class="btn btn-primary me-4" [disabled]="!userForm.form.valid">
                {{ isEditMode ? 'Update' : 'Submit' }}
            </button>
            <button type="button" class="btn btn-secondary" (click)="redirectToUserPage()">Cancel</button>
        </form>
    </div>
    </div>
</div>