ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 2px;
    margin-bottom: 0;
}

ul:first-child {
    flex: 1;
    overflow-y: auto;
}

ul.signout {
    flex: none;
    margin-top: auto;
    padding-bottom: 1rem;
}

li {
    z-index: -2;
    border-bottom: 2px solid #AFAFAF;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

li:hover {
    background-color: #AFAFAF;
}

li.active {
    background-color: black;
    color: white;
}

li.active:hover {
    background-color: black;
}

.subHeaderContainer {
    width: 140px;
    border-right: 2px solid #AFAFAF;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}

.signout{
    width: 140px;
    padding-bottom: 0px !important;
}

.signout li {
    border-top: 2px solid #AFAFAF;
    border-bottom: none;
}

.signout li:hover {
    background-color: #AFAFAF;
}

.signout li.active {
    background-color: black;
    color: white;
}

.signout li.active:hover {
    background-color: black;
}

@media only screen and (max-width: 800px) {
    .subHeaderContainer{
        visibility: hidden;
        width: 0px;
    }
}