<app-features></app-features>
<app-documents></app-documents>
<app-support></app-support>
<app-pricing></app-pricing>
<app-solutions></app-solutions>
<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <!-- <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li> -->
        <li class="nav-item"><a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#featuresModal">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#solutionsModal">Solutions</a></li>
        <li class="nav-item"><a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#pricingModal">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#documentsModal">Docs</a></li>
        <li class="nav-item"><a href="#" class="nav-link" data-bs-toggle="modal" data-bs-target="#supportModal">Support</a></li>
      </ul>
    </header>
  </div>