<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="signUpContainer w-100" style="max-width: 400px;">
<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">User id / Email id :</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Name : </label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center">
    <button type="submit" class="btn btn-primary">Sign up </button>
    <!-- <button type="submit" class="btn btn-primary mt-2" (click)="signInRedirect()">Sign in</button> -->
    <button type="submit" class="btn btn-primary mt-2" (click)="login()">Sign in</button>
</div>
</form>
</div>
  </div>
  