.signUpContainer {
    background-color: #D9D9D9;
    padding : 30px;
    border-radius: 20px;
}
button {
    background-color: white;
    color: black;
}
.btn-primary {
    --bs-btn-border-color: none;
}