<app-header></app-header>
<div class="d-flex">
    <app-sidebar></app-sidebar>
    <div class="container">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Content Type</label>

                    <select id="exampleInputEmail1" class="form-select w-25">
                        <option>Default</option>
                      <option>Blog</option>
                      <option>Payment</option>
                      <option>Flash News</option>
                      <option>Testing</option>
                    </select>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Content Title</label>
                <div class="d-flex">
                    <input type="text" placeholder="Content Title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <select id="exampleInputEmail1" class="form-select w-25 ms-2">
                      <option>String</option>
                      <option>Number</option>
                      <option>Boolean</option>
                      <option>Count</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Content Description</label>
                <div class="d-flex">
                    <textarea class="form-control" id="textAreaExample1" rows="5"></textarea>
                    <select id="exampleInputEmail1" class="form-select w-25 ms-2 h-90">
                      <option>String</option>
                      <option>Number</option>
                      <option>Boolean</option>
                      <option>Count</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Content Comment</label>
                <div class="d-flex">
                    <input type="email" placeholder="Content Comment" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <select id="exampleInputEmail1" class="form-select w-25 ms-2">
                      <option>String</option>
                      <option>Number</option>
                      <option>Boolean</option>
                      <option>Count</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Content Like</label>
                <div class="d-flex">
                    <input type="email" placeholder="Content Like" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <select id="exampleInputEmail1" class="form-select w-25 ms-2">
                      <option>String</option>
                      <option>Number</option>
                      <option>Boolean</option>
                      <option>Count</option>
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Content Dislike</label>
                <div class="d-flex">
                    <input type="email" placeholder="Content Dislike" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <select id="exampleInputEmail1" class="form-select w-25 ms-2">
                      <option>String</option>
                      <option>Number</option>
                      <option>Boolean</option>
                      <option>Count</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>